@charset "utf-8";
/* CSS Document */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {font-family: OpenSans; font-size: 15px;}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
}
.logo {width:209px; height:40px;}